@use "../../styles/variables" as variables;

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: variables.$main-color;
    height: 100vh;
}

.formular {
    box-shadow: 4px 4px 10px black;
    border-radius: 25px;
    width: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
}

.formularText {
    width: 50%;
    height: 1rem;
}

.textArea {
    height: 8rem;
}

.formularInput {
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.formularButton {
    width: 20%;
    height: 10%;
}
