.home_app {
  background-color: rgb(249 247 248);
  height: 100vh;
}

.logout_btn {
  background-color: gray;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border: none;
}

.company_profile_container {
  padding-left: 1rem;
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.home_jobListing {
  margin-left: 1rem;
}

.add-job-btn {
  background-color: lightgreen;

  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  margin-left: 1rem;
  border: none;
}

.jobList {
  display: flex;
  gap: 3rem;
}
