.registration_container {
  background-color: rgb(249 247 248);
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .registration_form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 3rem;
    justify-content: center;
    align-items: center;
  }

  .registration_field {
    display: flex;
    flex-direction: column;
  }

  .registration_title {
    margin-bottom: 1.5rem;
  }

  .registration_text {
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
  }

  .registration_input {
    height: 2.5rem;
    border-color: rgb(217 217 220);
    border-radius: 0.5rem;
    border-width: 0.1rem;
    border-style: solid;
    padding-left: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }

  .registration_btn {
    background-color: rgb(11 171 108);
    color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
  }
}
