.container {
  display: flex;
  gap: 8rem;
  margin-top: 1rem;
}

.jobCards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.jobCard {
  border: solid 1px gray;
  padding: 3rem;
  margin-left: 1rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.jobCard:hover {
  background-color: lightgray;
  cursor: pointer;
}
